
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span class="span">Agents Work</span>
      </mat-toolbar-row>
      <div class = "example-button-row">
      <button mat-raised-button color="primary"  [routerLink]="['/reports']" style="float: left;">Users Reports</button>
      <button mat-raised-button color="primary"  [routerLink]="['/agentdelete']" style="float: left;">Agent Delete</button>
   </div>
</mat-toolbar>


<table>
  <tbody>
    <!-- <tr>
      <td>ID</td>
      <td>
        <input type="text" [(ngModel)]="agent.id" required>
      </td>
    </tr> -->
    <tr>
      <td>Email</td>
      <td>
        <input  type="text" [(ngModel)]="agent.email" required>
      </td>
    </tr>
    <tr>
      <td>Password</td>
         <td>
           <input type="text" [(ngModel)]="agent.password" required>
        </td>
      </tr>
   <tr>
     <td>Add</td>
       <td>
         <button  (click)="addAgent(agent)">Add</button>
       </td>
     </tr>
   </tbody>
</table>


<div>
<p>
  Agents List 
</p>

<table>
  <thead>
    <th>ID</th>
    <th>Email</th>
    <th>Password</th>
  </thead>
  <tbody>
    <tr *ngFor="let agent of agents">
      <td>{{ agent.userID}}</td>
      <td>{{ agent.email }}</td>
      <td>{{ agent.password }}</td>
    <td>
        <button (click)="deleteAgent(agent.userID)">Delete</button>
    </td>

    <td>
      <button (click)="viewReports(agent.userID)">View Reports</button>
  </td>

    </tr>
  </tbody>
</table>

<div *ngIf="_temp_one_post" class="modal-body">
  <div class="card shadow mb-1 animated--fade-in">
    <div class="card-header pt-2 pb-2">
      <span class="float-left image-cropper mr-3">
        <img style="height: 2.5rem;" class="mr-3" src="{{_temp_one_post.image}}" alt="">
      </span>
      <span>
        <thead>
          <th>Co2</th>
          <th>Note</th>
          <th>reportDate</th>
        </thead>
        <tbody>
          <tr *ngFor="let data of _temp_one_post">
            <td>{{ data.co2}}</td>
            <td>{{ data.note }}</td>
            <td>{{ data.reportDate }}</td>
            <td>{{ data.status }}</td>
            <td>{{ data.temperature }}</td>
            <td>{{ data.turbidity }}</td>
            <td>{{ data.sampleLocation.latitude }}</td>
            <td>{{ data.sampleLocation.longitude }}</td>
          </tr>
        </tbody>
      </span>
    </div>
    <div class="modal-footer one-pst-pdng">
      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
    </div>
</div>  

</div>

