<div class="center-conten">
  <h1 *ngIf="waterboardService.user | async">
    <!-- Welcome User: {{ (waterboardService.user | async)?.email }}! -->
    
    <!-- <ng-container>
      <th > ID. </th>
      <td > {{element.id}} </td>
    </ng-container> -->

    <!-- Agent add and delete -->
     <app-agent></app-agent>
   <form (ngSubmit)="logout()">
        <button type="submit" color="primary">Logout</button>
    </form>
    </h1>
   <div *ngIf="!(waterboardService.user | async)">
      <div class="example-card">
         <div>
           <div>Login/Registration</div>
         </div>
       <div>
        <div>
        <div label="Login">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                  <div class="example-full-width">
                    <label>Email</label>
                    <input  placeholder="Email" formControlName="email">
                    <div *ngIf="errorHandlingLogin('email', 'required')">
                     <strong>Email</strong> is required
                     </div>
                     <div *ngIf="errorHandlingLogin('email', 'pattern')">
                       You must provide an valid <strong>email</strong>
                       </div>
                  </div>
                  <div class="example-full-width">
                    <label>Password</label>
                    <input type="password"  placeholder="Password" formControlName="password">
                    <div *ngIf="errorHandlingLogin('password', 'required')">
                     <strong>Password</strong> is required
                     </div>
                  </div>
                  <div class="button-wrapper">
                    <button class="mat-button" color="primary">Login</button>
                 </div>
             </form>
 </div>
         
          
 <div label="Registration"> 
        <form [formGroup]="myForm" (ngSubmit)="Registration()">
              <div class="example-full-width">
                 <label>Name</label>
                 <input placeholder="Name" formControlName="name">
                 <div *ngIf="errorHandling('name', 'required')">
                  <strong>Name</strong> is required
                  </div>
                </div>
               <div class="example-full-width">
                 <label>ID</label>
                 <input placeholder="ID" formControlName="id">
                 <div *ngIf="errorHandling('id', 'required')">
                  <strong>ID</strong> is required
                  </div>
                </div>
               <div class="example-full-width">
                 <label>Email</label>
                 <input  placeholder="Email" formControlName="email">
                 <div *ngIf="errorHandling('email', 'required')">
                  <strong>Email</strong> is required
                 </div>
                  <div *ngIf="errorHandling('email', 'pattern')">
                    You must provide an valid <strong>email</strong>
                  </div>
                  </div>
               <div class="example-full-width">
                 <label>Password</label>
                 <input type="password" placeholder="Password" formControlName="password">
                 <div *ngIf="errorHandling('password', 'required')">
                  <strong>Password</strong> is required
                 </div>
                </div>
               <div class="button-wrapper">
                <button>Registration</button>
              </div>
                </form>
              </div>
                </div>
            </div>
      </div>
    </div>
</div>
