html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  article,
  aside,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section {
    display: block;
  }
  
  body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
  }
  
  .bck-img {
    background-image: url(./assets/water-drop-photo-220213-1-scaled.jpg);
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .timepicker {
    .timepicker__header {
      background-color: #2e59d9 !important;
    }
  
    .clock-face__clock-hand {
      background-color: #2e59d9 !important;
  
      &::after {
        background-color: #2e59d9 !important;
      }
  
      &::before {
        border-color: #2e59d9 !important;
      }
    }
  
    .clock-face__number {
      > span.active {
        background-color: #2e59d9 !important;
      }
    }
  
    button:not(.timepicker-dial__item) {
      color: #2e59d9 !important;
    }
  
    .timepicker-dial__control_editable:focus {
      color: #2e59d9 !important;
    }
  }