
   
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span class="span">WATER BOARD</span>
      </mat-toolbar-row>
      <div class = "example-button-row">
      <button mat-raised-button color="primary" style="float: right;" [routerLink]="['/admin']" class="mat-buttons">Admin login</button>
   </div>
</mat-toolbar>


<!-- <div>
<mat-card-content>
   <img mat-card-image class="img-responsive" src="assets/images/pagefront.jpg">
</mat-card-content>
</div>
<mat-card-footer>
  This is card Footer
  </mat-card-footer> -->
  <div>
  <!-- <mat-grid-list cols="1" rowHeight="1:1">
    <mat-grid-tile> -->
    <img mat-card-image class="img-responsive" src="assets/water-drop-photo-220213-1-scaled.jpg"  layout-fill>
  <!-- </mat-grid-tile>
  </mat-grid-list> -->
  </div>

