.example-spacer {
    flex: 1 1 auto;
  }
  .span {
    margin: auto;
}

.tp-button-row a {
   margin-right: 8px;
}
.prof-image-card{
  padding-bottom: 30px;
  max-width: 300px;
  border-radius: 20px;
}

.img-responsive{
  padding-top: 1px;
  border: none;
  height:50%;
  width:50%;
  background:no-repeat center center fixed;
}
